/datafiles2/
/datafiles/
*.csv
"Leituras telemetria_valida\303\247\303\243o1.xlsx"
"Leituras telemetria_valida\303\247\303\243o2.xlsx"
__pycache__/
cluster1_consumo_dia
cluster1_consumo_dia_ndomes
cluster1_consumo_hora
cluster1_consumo_hora_ndomes
cluster1_consumo_medio_dia
cluster1_consumo_medio_hora
cluster1_consumo_medio_mes
cluster1_consumo_mes
cluster1_consumo_mes_ndomes
cluster2
cluster2_consumo_dia
cluster2_consumo_hora
cluster2_consumo_medio_dia
cluster2_consumo_medio_hora
cluster2_consumo_medio_mes
cluster2_consumo_mes
cluster3_consumo_dia
cluster3_consumo_hora
cluster3_consumo_medio_dia
cluster3_consumo_medio_hora
cluster3_consumo_medio_mes
cluster3_consumo_mes
cluster4_consumo_dia
cluster4_consumo_hora
cluster4_consumo_medio_dia
cluster4_consumo_medio_hora
cluster4_consumo_medio_mes
cluster4_consumo_mes
cluster5_consumo_dia
cluster5_consumo_hora
cluster5_consumo_medio_dia
cluster5_consumo_medio_hora
cluster5_consumo_medio_mes
cluster5_consumo_mes
cluster6_consumo_dia
cluster6_consumo_hora
cluster6_consumo_medio_dia
cluster6_consumo_medio_hora
cluster6_consumo_medio_mes
cluster6_consumo_mes
"csv_primeira_an\303\241lise/"
df_anomalias_calibre
df_cadastro
df_clusters_hora_dia_mes
df_clusters_hora_dia_mes_ndomes
df_confidence_bounds
df_confidence_bounds_perfil1_hora_domestico
df_confidence_bounds_perfil_hora_domestico
df_consumo_dia_3meses
df_consumo_dia_6_meses_clusters_domesticos
df_consumo_dia_6meses
df_consumo_hora
df_consumo_hora_3meses
df_consumo_hora_6_meses_clusters_domes
df_consumo_hora_6_meses_clusters_domesticos_dist
df_consumo_hora_6meses
df_consumo_hora_perfil1_distri
df_consumo_hora_sem_n_registo
df_consumo_hora_sem_n_registo_clusters
df_consumo_mes_3meses
df_consumo_mes_6_meses_clusters_domesticos
df_consumo_mes_6meses
df_consumo_perfil_hora_domes_out_distri
df_leituras
df_leituras_3meses
df_leituras_6meses
df_leituras_sem_n_registo
df_locals_reverse_flow
df_locals_reverse_flow_3meses
df_locals_reverse_flow_6meses
df_medias_dia_3meses
df_medias_dia_6meses
df_medias_dia_6meses_clusters_domesticos
df_medias_dia_6meses_clusters_ndomesticos
df_medias_hora
df_medias_hora_3meses
df_medias_hora_6meses
df_medias_hora_6meses_clusters_domesticos
df_medias_hora_6meses_clusters_naodomesticos
df_medias_hora_6meses_clusters_ndomesticos
df_medias_hora_reverse_flow
df_medias_hora_sem_n_registo
df_medias_mes_3meses
df_medias_mes_6meses
df_medias_mes_6meses_clusters_domesticos
df_medias_mes_6meses_clusters_ndomesticos
df_ocorrencias_com_consumo_negativo
df_ocorrencias_com_consumo_negativo_3meses
df_ocorrencias_com_consumo_negativo_6meses
perfil_consumo_dia_domes
perfil_consumo_hora_domes
perfil_consumo_medio_dia_domes
perfil_consumo_medio_hora_domes
perfil_consumo_medio_mes_domes
perfil_consumo_mes_domes
"Leituras telemetria_valida\303\247\303\243o1.xlsx"
"Leituras telemetria_valida\303\247\303\243o2.xlsx"
"csv_primeira_an\303\241lise/"

primeiras_tentatitas/
verificacao_leituras_continuas

